#container {
  display: grid;
  min-height: 100vh;
  background-color: #a6a99c;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  border-radius: 10px;

  grid-template-areas:
    "nav nav nav"
    "main main main"
    "features features features"
    "pricing pricing pricing"
    "contact contact contact"
    "footer footer footer";
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e8e6df;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 100px;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

#right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 50px;
}

#main-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0;
  margin-right: 0;
  gap: 15px;
}

#main-description p {
  font-size: x-large;
  color: white;
}

#main-description h2 {
  font-size: xx-large;
  color: white;
}

main img {
  border-radius: 10px;
  height: auto;
  width: 65%;
  margin: 0;
}

#features {
  grid-area: features;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232323;
}

#top-of-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 55px;
  padding-bottom: 25px;
  gap: 15px;
  font-size: x-large;
}

#top-of-features p {
  text-align: center;
  font-size: x-large;
}

#feature-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.feature-card {
  background-color: #a6a99c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #232323;
  font-size: x-large;
  padding: 25px;
  gap: 10px;
  width: 750px;
  border-radius: 20px;
  color: white;
}

#pricing {
  grid-area: pricing;
  background-color: #a6a99c;
  color: white;
  padding-top: 55px;
  padding-bottom: 55px;
}

#pricing-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

#pricing-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: x-large;
}

.price-heading {
  background-color: #687055;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pricing-body {
  padding: 20px;
  background-color: #232323;
  color: white;
  width: 300px;
  height: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#contact-us {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  align-items: center;
  width: 700px;
  background-color: #757b62;
  justify-content: center;
  border-radius: 20px;
  color: white;
}

#contact-us input {
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

#contact-us button {
  border-radius: 10px;
  width: 500px;
  padding: 10px;
  border: none;
  background-color: #232323;
  color: white;
}

#contact-us textarea {
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  height: 150px;
}

footer {
  grid-area: footer;
  background-color: #a6a99c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
}

#socials {
  display: flex;
  flex-direction: row;
  margin-right: 0;
  gap: 20px;
}
#socials a {
  text-decoration: none;
  color: #232323;
}

#copyright {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

#menuIcon {
  display: none;
}

#menu {
  display: none;
}

#big-screen-menu {
  display: flex;
  gap: 20px;
}

#big-screen-menu a {
  text-decoration: none;
  color: #232323;
}

@media only screen and (max-width: 800px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-template-areas:
      "nav"
      "main"
      "features"
      "pricing"
      "contact"
      "footer";
  }

  #big-screen-menu {
    display: none;
  }

  #menuIcon {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    display: block;
  }

  .menu-icon:hover {
    color: #e7bfbf;
  }

  #menu {
    background-color: lightgray;
    border: 2px solid #333;
    border-radius: 5px;
    position: absolute;
    top: 75px;
    right: 10px;
    width: 180px;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
  }

  #menu a {
    text-decoration: none;
    color: black;
  }

  .menu ul {
    list-style: none;
  }

  .menu ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
  }

  .menu ul li:last-child {
    border-bottom: none;
  }

  .menu ul li:hover {
    background-color: #e0e0e0;
  }

  nav {
    grid-area: nav;
    margin: 10px;
  }

  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
  }

  main img {
    width: 75%;
    height: auto;
  }

  #features {
    grid-area: features;
    display: flex;
    flex-direction: column;
  }

  #top-of-features {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  #pricing {
    grid-area: pricing;
    display: flex;
    flex-direction: column;
  }

  #pricing-cards {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
  }

  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu {
    background-color: white;
    top: 75px;
    right: 10px;
    width: 180px;
  }

  .feature-card {
    width: 320px;
    max-width: 320px;
    padding: 20px;
  }

  #contact-us {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #contact-us input {
    width: 280px;
    max-width: 280px;
  }
  #contact-us textarea {
    width: 280px;
    max-width: 280px;
  }
  #contact-us button {
    width: 280px;
    max-width: 280px;
  }
}
